# Dependencies
node_modules/
.node_modules

# Build output
dist/

# Angular cache
.angular/

# Test coverage
coverage/

# Environment files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
